<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="que" class="org.Question">
	<constructor-arg value="1" type="int"></constructor-arg>
	<constructor-arg value="What is java ? "></constructor-arg>
	<constructor-arg>
	<list>
	<ref bean="ans"/>
	</list>
	</constructor-arg>
</bean>

<bean id="ans" class="org.Answer">
<constructor-arg value="1" type="int"></constructor-arg>
<constructor-arg value="java is platform independent lang."></constructor-arg>
</bean>


</beans>
